<footer style="font-family: 'DG-kufi', sans-serif;" class="mt-0">
        
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">

                <h3><a href="#">ETUS <span>TIARET </span></a></h3>
                <p class="links"><a href="/">الصفحة الرئيسية</a><strong> · </strong><a href="/hafilati-app/what-is-hafilati-app">تطبيق حافلتي</a><strong> · </strong><a href="/about/etus">معلومات عنا</a><strong> · </strong>
                    
                    <a href="/faq">الأسئلة المتكررة</a><strong> · </strong></p>
                    

            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p class="mx-2"><span class="new-line-span">المنطقة الصناعية زعرورة / طريق فرندة</span> تيارت, الجزائر</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-right mx-2"> 68 40 25 46 213+</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p class="mx-2" style="font-family:'sultan bold'"> <a href="#" target="_blank">attabdtw14@yahoo.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4 href="/abouts">تواصلو معنا</h4>
                {{!-- <p> منذ إنشاء المؤسسة ، لم تتوقف  عن التقدم لتأكيد نفسها كلاعب رائد في قطاع النقل الحضري و الشبه الحضري. </p> --}}
                <div class="social-links social-icons">
                    <a href="https://www.facebook.com/mohamed.attab.5030"><i class="fa fa-facebook"></i></a>
                    {{!-- <a href="#"><i class="fa fa-youtube"></i></a> --}}
                </div>
            </div>

            
        </div>
        <div class="w-100 mt-5 text-center">
            {{!-- <div class="col-md-4 offset-md-4 text-center"> --}}
                <p class="text-secondary my-0" style="font-size: 15px;">Etus Tiaret © 2021</p>
                
            {{!-- </div> --}}
        </div>
    </footer>