<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1300, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="icon" type="image/jpg" href="/img/logo.jpg" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/noJS.css" />
    </noscript>
    <link rel="stylesheet" href="/css/styles-ar.css">
    <link rel="stylesheet" href="/css/slidein.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>