

    <div class="container py-2">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="d-flex">
                    
                    <a href="#" class="d-flex align-items-center mx-2">
                        <span class="d-md-inline-block"
                            style="font-size: 13px;font-weight: bold;">68 40 25 46 213+</span>
                        <i class="fa fa-phone nav-icon" style="color: rgb(47, 170, 47);font-size: 25px;"></i>
                        
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end">
                    <a href="https://www.facebook.com/mohamed.attab.5030"><i class="fa fa-facebook-official nav-icon"></i></a>
                   
                    {{!-- <a href="#"><i class="fa fa-youtube nav-icon" ></i></a> --}}

                    
                </div>
            </div>
        </div>
    </div>
    <hr class="py-0 my-0" />
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" >
        <div class="container">
            <a class="navbar-brand" href=""><img src="/img/logo.jpg" height="80"></a><button
                class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon" ><i class="fa fa-bars" style="color:black; font-size:28px;"></i></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navcol-1" >
                <ul class="nav navbar-nav">
                    <li class="dropdown" role="presentation">
                        <a href="/" class="navigation-link" role="button" id="dropdown-card" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" onclick="goTomain()" style="font-size: 12px;">الرئيسية<i class="fa fa-chevron-down"></i></a>
                        <div class="dropdown-menu text-right" aria-labelledby="dropdown-about">
                            <a class="dropdown-item" href="/about/etus" style="font-size: 12px;">مؤسسة النقل الحضري و الشبه الحضري تيارت</a>
                            <a class="dropdown-item" href="/about/mission" style="font-size: 12px;">رسالتنا</a>
                            <a class="dropdown-item" href="/about/vision" style="font-size: 12px;">الرؤية</a>
                            {{!-- <a class="dropdown-item" href="/about/dg" style="font-size: 12px;">كلمة السيد المدير العام</a> --}}
                        </div>

                    </li>
                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="" onclick="goToCard()" role="button" id="dropdown-card" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                            تطبيق حافلتي
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu text-right" aria-labelledby="dropdown-card">
                            <a class="dropdown-item" href="/hafilati-app/what-is-hafilati-app" style="font-size: 12px;">ماهو تطبيق حافلتي</a>
                            <a class="dropdown-item" href="/hafilati-app/why-use-hafilati-app" style="font-size: 12px;">لماذا استخدام تطبيق حافلتي</a>
                            <a class="dropdown-item" href="/hafilati-app/where-buy-hafilati-card" style="font-size: 12px;">أين يمكنك شراء بطاقة حافلتي</a>
                            <a class="dropdown-item" href="/hafilati-app/loss" style="font-size: 12px;">في حالة ضياع</a>
                            <a class="dropdown-item" href="/hafilati-app/hafilati-card" style="font-size: 12px;">بطاقة حافلتي الشخصية</a>
                        </div>
                    </li>
                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="" onclick="goToLines()" role="button" id="dropdown-lines" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                            مسارات الخطوط
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-lines">
                            <a class="dropdown-item" href="/lines/26" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">26</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/27" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">27</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/28" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">28</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/29" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">29</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/30" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">30</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/31" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">31</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/lines/32" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">32</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                        </div>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="" onclick="goToTiming()" role="button" id="dropdown-timing" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                            مواعيد الحافلات
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-timing">
                            <a class="dropdown-item" href="/timing/26" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">26</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/27" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">27</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/28" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">28</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/29" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">29</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/30" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">30</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/31" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">31</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                            <a class="dropdown-item" href="/timing/32" style="font-size: 12px;">الخط
                                <div class="badge badge-pill badge-outline-dark mx-2">32</div><i
                                    class="fa fa-chevron-left align-left"
                                    style="font-weight:normal;margin-left: 5px;"></i>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown" role="presentation">
                        <div class="dropdown">
                            <a href="/news" class="navigation-link" style="font-size: 12px;">أخبار</a>
                        </div>




                    </li>
                    <li class="dropdown" role="presentation">
                        <div class="dropdown">
                            <a href="/videos" class="navigation-link" style="font-size: 12px;">فيديوهات</a>
                        </div>



                    </li>
                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="" onclick="goToServices()" role="button" id="dropdown-about" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                                خدماتنا
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu text-right" aria-labelledby="dropdown-about">
                            
                            <a class="dropdown-item" href="/services/service1" style="font-size: 12px;">شهادة الكفاءة المهنية لسائقي نقل الاشخاص و البضائع</a>
                            <a class="dropdown-item" href="/services/service2" style="font-size: 12px;"> الميكانيك السريعة</a>
                            <a class="dropdown-item" href="/services/service3" style="font-size: 12px;"> غسل و تشحيم السيارات</a>
                            <a class="dropdown-item" href="/services/service4" style="font-size: 12px;">النقل الحضري و الشبه الحضري و النقل الضرفي و الاستثنائي و الموسمي</a>
                            <a class="dropdown-item" href="/services/service5" style="font-size: 12px;">المراقبة التقنية للسيارات</a>
                        </div>



                    </li>
                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="/stats" onclick="goTostats()" role="button" id="dropdown-about" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                            احصائيات
                        </a>

                    </li>

                    <li class="dropdown" role="presentation" >
                        <div class="dropdown">
                            <a href="/faq" class="navigation-link" style="font-size: 12px;">انشغالاتكم</a>
                        </div>

                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="navigation-link" href="" role="button" id="dropdown-about" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">روابط<i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu text-right" aria-labelledby="dropdown-about">
                            <a class="dropdown-item" href="/gps" style="font-size: 12px;">GPS</a>
                            <a class="dropdown-item" href="" style="font-size: 12px;">مجلس الادارة</a>
                            <a class="dropdown-item" href="https://portail.mtpt.gov.dz/" style="font-size: 12px;">موقع وزارة النقل</a>
                            <a class="dropdown-item" href="https://www.joradp.dz/HAR/Index.htm" style="font-size: 12px;">الأمانة العـامة للحكـومة</a>
                            <a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100069255427648" style="font-size: 12px;">صفحة وزارة النقل</a>
                            {{!-- <a class="dropdown-item" href="/about/dg" style="font-size: 12px;">كلمة السيد المدير العام</a> --}}
                        </div>



                    </li>

                    

                    {{!-- <li class="dropdown" role="presentation" >
                        <div class="dropdown">
                            <a href="/photo" class="navigation-link" style="font-size: 12px;">روابط مفيدة</a>
                        </div>

                    </li> --}}

                </ul>
            </div>
        </div>
    </nav>
    <hr style="border-bottom: solid 10px #057aed;margin:0;" />
