<!DOCTYPE html>
<html dir="rtl" lang="ar">

{{> arHead}}

<body>
    
    {{> arNavbar}}

    <div data-bs-parallax-bg="true" class="parallax d-flex">
        <div class="mx-auto my-auto text-center">
            <i class="fa fa-credit-card mb-2" style="font-size:3rem;color: white;"></i>
            <h3 style="font-weight: bold; color: white;">تطبيق حافلتي</h3>
        </div>
    </div>
    <div class="w-100 py-5 px-3" style="margin-top: 0;background-color: white;">
        <div class="py-3 px-3">

            <div class="row">
                <div class="d-none d-md-block col-md-3">
                    <div class="px-3 py-3 text-center" style="border-radius: 10px; color:white;background: #1735CE;
                        background: -webkit-radial-gradient(top left, #1735CE, #04297B);
                        background: -moz-radial-gradient(top left, #1735CE, #04297B);
                        background: radial-gradient(to bottom right, #1735CE, #04297B);">

                        <div class="nav flex-column justify-content-between nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="horizontal">
                            <a class="nav-link d-flex align-items-center  justify-content-between"
                                onclick="changeUrl('/hafilati-app/what-is-hafilati-app')" id="v-pills-why-tab" data-toggle="pill"
                                href="#v-pills-why" role="tab" aria-controls="v-pills-why" aria-selected="true">
                                <div class="text-right"> ما هو تطبيق حافلتي ؟</div>
                                <i class="fa fa-chevron-left align-right"
                                    style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>

                            </a>

                            <a class="nav-link d-flex justify-content-between align-items-center"
                                onclick="changeUrl('/hafilati-app/why-use-hafilati-app')" id="v-pills-why2-tab"
                                data-toggle="pill" href="#v-pills-why2" role="tab" aria-controls="v-pills-why2"
                                aria-selected="true">
                                <div class="text-right"> لماذا استخدام تطبيق حافلتي</div>
                                <i class="fa fa-chevron-left align-right"
                                    style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>

                            </a>

                            <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-where-tab"
                                onclick="changeUrl('/hafilati-app/where-buy-hafilati-card')" data-toggle="pill"
                                href="#v-pills-where" role="tab" aria-controls="v-pills-where" aria-selected="true">

                                <div class="text-right"> أين يمكنك شراء بطاقة حافلتي</div>
                                <i class="fa fa-chevron-left align-right"
                                    style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
                            </a>
                            <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-how2-tab"
                                onclick="changeUrl('/hafilati-app/loss')" data-toggle="pill"
                                href="#v-pills-how2" role="tab" aria-controls="v-pills-how2" aria-selected="false">

                                <div class="text-right"> في حالة الضياع </div>
                                <i class="fa fa-chevron-left align-right"
                                    style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
                            </a>


                            <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-how-tab"
                                onclick="changeUrl('/hafilati-app/hafilati-card')" data-toggle="pill"
                                href="#v-pills-how" role="tab" aria-controls="v-pills-how" aria-selected="false">

                                <div class="text-right"> بطاقة حافلتي  الشخصية </div>
                                <i class="fa fa-chevron-left align-right"
                                    style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
                            </a>



                        </div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="px-3 pt-3 pb-5" style="background-color: white;">


                        <div class="tab-content" id="v-pills-tabContent">




                            <div class="tab-pane fade-tab" id="v-pills-why" role="tabpanel"
                                aria-labelledby="v-pills-why-tab">


                                <div class="row mx-0 my-0">
                                    <div class="col-md-6 mx-0 my-0">
                                        <h3 class="h3 text-center" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">

                                            ما هو تطبيق حافلتي ؟
                                        </h3>
                                        <p class="py-3 text-secondary text-bold"style="text-align: justify;">
                                          هو أسهل وسيلة للتنقل على متن حافلاتنا  دون التفكير في النقود حيث تصبح تنقلاتك أسرع بكثير من التذاكر الورقية، فكل ما تحتاج اليه هو فقط "تمرير  بطاقة  حافلتي او تطبيق حافلتي على الهواتف الذكية " على هاتف القابض المخصص لذلك داخل الحافلة لخصم قيمة الرحلة من الرصيد الموجود في  بطاقة  او تطبيق حافلتي الذي سبق و ان شحنته بالرصيد الذي ترغب فيه .</p>

                                    </div>
                                    <div class="col-md-6 mx-0 my-0">
                                        <img src="/img/150x150---1.jpg" class="img-fluid my-2" alt="Etus Tiaret" width="auto" height="100">
                                    </div>
                                </div>










                            </div>

                            <div class="tab-pane fade-tab" id="v-pills-why2" role="tabpanel"
                                aria-labelledby="v-pills-why2-tab">

                                <div class="row mx-0 my-0">
                                    {{!-- <div class="col-12 mx-0 my-0">
                                        <img src="/img/card.png" class="img-fluid" alt="Etus Tiaret">
                                    </div> --}}
                                    <div class="col-md-6 mx-0 my-0">
                                        <h3 class="h3 py-3 my-2 text-bold text-center">

                                          لماذا استخدام تطبيق حافلتي
                                        </h3>
                                        <p class="py-3 text-secondary text-bold" style="text-align: justify;">يساهم تطبيق حافلتي لدفع التذكرة ألكترونيا  في تيسير عملية الدخول والخروج من الحافلة وجعلها أسرع وأسهل، بما يسهل  الحفاظ على سير الحافلة في الوقت المحدد.
هو أكثر ملاءمة و أكثر مرونة ويوفر لك ضمان التنقل دائما، حتى اذا لم تكون تحمل نقود كافية طالما لديك الرصيد الكافي في بطاقة  حافلتي أو تطبيق حافلتي على الهواتف الذكية
الرصيد المخزن في بطاقة حافلتي  أو تطبيق حافلتي على الهواتف الذكية سيمكنك من التنقل على متن الحافلات، حيث لا يوجد حد زمني لإنتهاء صلاحية الرصيد حتى يتم استخدامه للتنقل. في حال تضرر بطاقتك بإمكاننا اصدار بطاقة جديدة لك وتحويل الرصيد المخزن في البطاقة القديمة إلى الجديدة اذا تم إثبات ملكيتك للبطاقة أو في حال كانت بطاقتك مسجلة لدينا.
</p>

                                    </div>
                                     <div class="col-md-6 mx-0 my-0">
                                        <img src="/img/150x150--2.jpg" class="img-fluid my-2" alt="Etus Tiaret">
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade-tab" id="v-pills-where" role="tabpanel"
                                aria-labelledby="v-pills-where-tab">


                                <div class="row mx-0 my-0">
                                    <div class="col-md-6 mx-0 my-0">
                                        <h3 class="h3 text-center" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">

                                             أين يمكنك شراء بطاقة حافلتي
                                        </h3>
                                        <p class="py-3 text-secondary text-bold" style="text-align: justify;"><u>يمكن الحصول على بطاقة حافلتي عن طريق:</u> <br> 
•	 مكتب التذاكر في المحطات الرئيسية ( كارمان  ، حي 504 سكن دبي )<br>
•	المراقبين المتجولين عبر الشبكة<br>
•	مصلحة الإستغلال بمقر المؤسسة<br><br>يتم احتساب رسم بقيمة 100 دج عند أول شراء لبطاقة حافلتي ويمكن إعادة شحنها بأي مبلغ وبحد أقصى 2000 دج.
 أين يمكن شحن بطاقة حافلتي 
يمكن شحن بطاقة  من طرف رؤساء المحطات  المتواجدين بحي كارمان و حي 504 سكن - دبي ،  كما يمكن شحنها عن طريق المراقبين المتجولين عبر الشبكة . وفي المستقبل القريب، ستكون هناك إمكانية شحن بطاقة حافلتي عن طريق الموقع الإلكتروني للمؤسسة .<br><br><u>يمكن الحصول على بطاقة حافلتي عن طريق:</u> <br>•	تحميل تطبيق Etus Pay من Play Store
<br>•	إنشاء حساب شخصي
<br>•	تفعيل الحساب بإدخال الرمز المرسل إلى البريد الإلكتروني<br><br>
يمكن شحن رصيد الهاتف عن طريق شراء بطاقة التعبئة و شحن رصيدك بأي مبلغ و بحد أقصى 2000 دج،
يمكن شراء بطاقة التعبئة من رؤساء المحطات  المتواجدين بحي كارمان و حي 504 سكن - دبي ،  أو عن طريق القابضين  أو المراقبين المتجولين عبر الشبكة . وفي المستقبل القريب، ستكون هناك إمكانية شحن رصيدك عن طريق الموقع الإلكتروني للمؤسسة. 
 </p>

                                    </div>
                                    <div class="col-md-6 mx-0 my-0">
                                        <img src="/img/vers.jpg" class="img-fluid my-2" alt="Etus Tiaret">
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade-tab" id="v-pills-how" role="tabpanel"
                                aria-labelledby="v-pills-how-tab">
                                <div class="row mx-0 my-0">
                                    
                                    <div class="col mx-0 my-0">
                                        <h3 class="h3 py-3 my-2 text-bold text-center">
                                        بطاقة حافلتي  الشخصية 
                                        </h3>
                                        <p class="py-3 text-secondary text-bold" style="text-align: justify;">
                                        بإمكانك الحصول على بطاقة  حافلتي الشخصية  من خلال التقرب إلى مصلحة الإستغلال بمقر المؤسسة مرفوقا بطلب و صورة شخصية ليتم وضعها على بطاقتك 
تسجيل بطاقتك يتضمن وضع صورتك ومعلوماتك الشخصية، لتسهل علينا معرفة البطاقة أو رصيد البطاقة في حال تم فقدانها أو سرقتها منك، ولنتمكن من تحويل الرصيد المتبقي فيها ان وجد إلى بطاقة جديدة  في حال ثبت ضياع أو سرقة بطاقتك.</p>

                                    </div>
                                    {{!-- <div class="col-md-6 mx-0 my-0">
                                        <img src="/img/card.png" class="img-fluid my-2" alt="Etus Tiaret">
                                    </div> --}}
                                    
                                </div>
                            </div>

                            <div class="tab-pane fade-tab" id="v-pills-how2" role="tabpanel"
                                aria-labelledby="v-pills-how2-tab">
                                <div class="row mx-0 my-0">
                                    <div class="col mx-0 my-0">
                                        <h3 class="h3 text-center" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">
                                            في حالة الضياع 
                                            
                                        </h3>
                                        <p class="py-3 text-secondary text-bold" style="text-align: justify;">
                                            اذا تم العثور على بطاقات مفقودة من قبل الركاب، فإن البطاقة يجب أن تعاد الى أقرب مكتب لبيع التذاكر في المحطات الرئيسية أو تسلم للمراقبين . أما إذا تم العثور على البطاقة في الحافلات من قبل السائق أو عمال التنظيف، فإنها ستعاد إلى مكتب لبيع التذاكر في المحطات الرئيسية
اذا فقدت بطاقة  حافلتي  يرجى التقرب من مكتب بيع التذاكر بالمحطات الرئيسية. وفي حال إن بطاقة حافلتي غير مسجلة أو لم يحتفظ صاحبها بالرقم التسلسلي لها فمن المستبعد جداً الحصول عليها وإعادتها لصاحبها او حتى التحقق من اذا كان يوجد بها رصيد أم لا ليتم تحويله إلى بطاقة جديدة . </p>

                                    </div>
                                    {{!-- <div class="col-md-6 mx-0 my-0">
                                        <img src="/img/card.png" class="img-fluid my-2" alt="Etus Tiaret">
                                    </div> --}}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>







    {{> arFooter}}

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-animation.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/slideIn.min.js"></script>
    <script>
        window.onload = function () {

            clickTabs("{{item}}")
        }


    </script>
</body>

</html>