<!DOCTYPE html>
<html dir="rtl" lang="ar">

{{> arHead}}

<body>
    {{> arNavbar}}
    <div data-bs-parallax-bg="true" class="parallax d-flex">
        <div class="mx-auto my-auto text-center">
            <i class="fa fa-map mb-2" style="font-size:3rem;color: white;"></i>
            <h3 style="font-weight: bold; color: white;"> نظام تحديد المواقع للحافلات</h3>
        </div>
    </div>
    <div class="w-100" style="margin-top: 0;background-color:#fafafa;">
        <div class="container py-5">

            {{!-- <div class="row">
                <div class="col-12">

                    <div id="accordion">


                        <div class="card">
                            <div class="card-header p-0" id="headingOne">
                                <h2 class="mb-0">
                                    <button href="#collapseOne"
                                        class="d-flex py-4 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <p class="mb-0">قيد الانجاز</p>
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne"
                                style="">
                                <div class="card-body py-5 px-4">
                                    <ol class="text-right">
                                        <li>قيد الانجاز</li>
                                        <li> باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة</li>
                                        <li>لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب </li>
                                        <li>تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات </li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0" id="headingTwo" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseTwo"
                                        class="d-flex py-4 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <p class="mb-0">قيد الانجاز</p>
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-5 px-4">
                                    <p class="text-right">
                                        هنالك العديد من الأنواع المتوفرة لنصوص
                                        لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات
                                        العشوائية إلى النص. إن كنت تريد أن تستخدم
                                        نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو
                                        غير لائقة مخبأة في هذا النص. بينما
                                        تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص
                                        لوريم إيبسوم نفسه عدة مرات بما
                                        تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200
                                        كلمة لا تينية، مضاف
                                        إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى
                                        النص الحقيقي

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0" id="headingThree" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseThree"
                                        class="d-flex py-4 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <p class="mb-0">قيد الانجاز</p>
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-5 px-4">
                                    <p class="text-right">
                                        هنالك العديد من الأنواع المتوفرة لنصوص
                                        لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات
                                        العشوائية إلى النص. إن كنت تريد أن تستخدم
                                        نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو
                                        غير لائقة مخبأة في هذا النص. بينما
                                        تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص
                                        لوريم إيبسوم نفسه عدة مرات بما
                                        تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200
                                        كلمة لا تينية، مضاف
                                        إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى
                                        النص الحقيقي

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-0" id="headingFour" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseFour"
                                        class="d-flex py-4 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <p class="mb-0">قيد الانجاز</p>
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-5 px-4 px-md-5">
                                    <p class="text-right">هنالك العديد من الأنواع المتوفرة لنصوص
                                        لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات
                                        العشوائية إلى النص. إن كنت تريد أن تستخدم
                                        نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو
                                        غير لائقة مخبأة في هذا النص. بينما
                                        تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص
                                        لوريم إيبسوم نفسه عدة مرات بما
                                        تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200
                                        كلمة لا تينية، مضاف
                                        إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى
                                        النص الحقيقي
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div> --}}

            <div>
                <p class="text-center"> <br>عند الدخول لموقع تحديد مواقع الحافلات يرجى ادخال اسم المستخدم etusspaciale و
                    كلمة السر corona<button class="btn btn-outline-dark mx-3"
                        onclick=" window.open('http://www.malimspotter.com','_blank')">أنقر هنا</button></p>
            </div>

        </div>
        {{> arFooter}}

        <script src="/js/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/bs-animation.js"></script>
        <script src="/js/script.js"></script>
        <script>

        </script>
</body>

</html>
