<!DOCTYPE html>
<html dir="rtl" lang="ar">

{{> arHead}}

<body>



    {{> arNavbar}}

    <div data-bs-parallax-bg="true" class="parallax d-flex">
        <div class="mx-auto my-auto text-center">
            <i class="fa fa-question-circle mb-2" style="font-size:3rem;color: white;"></i>
            <h3 style="font-weight: bold; color: white;">قانون العمل</h3>
        </div>
    </div>
    <div class="w-100" style="margin-top: 0;background-color:#fafafa;">
        <div class="container py-5">

            <div class="row">
                <div class="col-12">

                    <div id="accordion1">

<div id="image1" style="position:absolute; overflow:hidden; left:263px; top:0px; width:573px; height:642px; z-index:19"><img src="/img/lois tra.jpg" alt="" title="" border=0 width=573 height=642></div>







<div id="image2" style="position:absolute; overflow:hidden; left:670px; top:77px; width:22px; height:22px; z-index:26"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1990/A1990017.pdf"><img src="/img/paste.jpg" alt="hhh" title="" border=0 width=22 height=22></a></div>

<div id="image3" style="position:absolute; overflow:hidden; left:670px; top:144px; width:22px; height:22px; z-index:27"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1991/A1991068.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image4" style="position:absolute; overflow:hidden; left:673px; top:278px; width:22px; height:22px; z-index:28"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1996/A1996043.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image5" style="position:absolute; overflow:hidden; left:670px; top:213px; width:22px; height:22px; z-index:29"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1991/A1991020.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image6" style="position:absolute; overflow:hidden; left:343px; top:316px; width:22px; height:22px; z-index:30"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1997/A1997003.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image7" style="position:absolute; overflow:hidden; left:663px; top:382px; width:22px; height:22px; z-index:31"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1997/A1997003.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image8" style="position:absolute; overflow:hidden; left:497px; top:442px; width:22px; height:22px; z-index:32"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1990/A1990006.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image9" style="position:absolute; overflow:hidden; left:302px; top:475px; width:22px; height:22px; z-index:33"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1991/A1991068.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image10" style="position:absolute; overflow:hidden; left:694px; top:540px; width:22px; height:22px; z-index:34"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1990/A1990006.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>

<div id="image11" style="position:absolute; overflow:hidden; left:676px; top:606px; width:22px; height:22px; z-index:35"><a href="http://www.joradp.dz/FTP/Jo-Arabe/1991/A1991068.pdf"><img src="/img/paste.jpg" alt="" title="" border=0 width=22 height=22></a></div>


                        
                     
                    </div>


                </div>

            </div>


        </div>

    </div>
    {{> arFooter}}

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-animation.js"></script>
    <script src="/js/script.js"></script>
    <script>
     
    </script>
</body>

</html>