<!DOCTYPE html>
<html dir="rtl" lang="ar">

{{> arHead}}

<body>
  {{> arNavbar}}
  <div data-bs-parallax-bg="true" class="parallax d-flex">
    <div class="mx-auto my-auto text-center">
      <i class="fa fa-wrench mb-2" style="font-size:3rem;color: white;"></i>
      <h3 style="font-weight: bold; color: white;">خدماتنا </h3>
    </div>
  </div>
  <div class="w-100 py-5 px-3" id="animated" style="margin-top: 0;background-color: white;">
    <div class="py-3 px-3">

      <div class="row">
        <div class="d-none d-md-block col-md-3">
          <div class="px-3 py-3 text-center" style="border-radius: 10px; color:white;background: #1735CE;
                        background: -webkit-radial-gradient(top left, #1735CE, #04297B);
                        background: -moz-radial-gradient(top left, #1735CE, #04297B);
                        background: radial-gradient(to bottom right, #1735CE, #04297B);">

            <div class="nav flex-column justify-content-between nav-pills" id="v-pills-tab" role="tablist"
              aria-orientation="horizontal">
              <a class="nav-link d-flex align-items-center  justify-content-between" id="v-pills-service1-tab"
                data-toggle="pill" href="#v-pills-service1" role="tab" onclick="changeUrl('/services/service1')"
                aria-controls="v-pills-service1" aria-selected="true">
                <div>مركز التكوين لنيل شهادة الكفاءة المهنية لسائقي نقل الاشخاص و البضائع </div>
                <i class="fa fa-chevron-left align-right"
                  style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>

              </a>

              <a class="nav-link d-flex justify-content-between align-items-center" id="v-pills-service2-tab"
                data-toggle="pill" href="#v-pills-service2" role="tab" onclick="changeUrl('/services/service2')"
                aria-controls="v-pills-service2" aria-selected="true">
                <div> خدمةالميكانيك السريعة</div>
                <i class="fa fa-chevron-left align-right"
                  style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
              </a>

              <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-service3-tab"
                onclick="changeUrl('/services/service3')" data-toggle="pill" href="#v-pills-service3" role="tab"
                aria-controls="v-pills-service3" aria-selected="true">

                <div> محطة الخدمات لغسل و تشحيم السيارات </div>
                <i class="fa fa-chevron-left align-right"
                  style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
              </a>

              <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-service4-tab"
                data-toggle="pill" href="#v-pills-service4" role="tab" aria-controls="v-pills-service4"
                onclick="changeUrl('/services/service4')" aria-selected="false">

                <div> النقل الحضري و الشبه الحضري و النقل الضرفي و الاستثنائي و الموسمي</div>
                <i class="fa fa-chevron-left align-right"
                  style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
              </a>

              <a class="nav-link align-items-center d-flex justify-content-between" id="v-pills-service5-tab"
                data-toggle="pill" href="#v-pills-service5" role="tab" aria-controls="v-pills-service5"
                onclick="changeUrl('/services/service5')" aria-selected="false">

                 المراقبة التقنية للسيارات
                <i class="fa fa-chevron-left align-right"
                  style="font-size:25px;margin-left: 10px;margin-right: 10px;"></i>
              </a>



            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="px-3 pt-3 pb-5" style="background-color: white;">


            <div class="tab-content" id="v-pills-tabContent">




              <div class="tab-pane fade-tab" id="v-pills-service1" role="tabpanel"
                aria-labelledby="v-pills-service1-tab">


                <div class="row mx-0 my-0">
                  <div class="col-md-12 mx-0 my-0">
                    <h3 class="h3 text-right" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">


                    </h3>
                    <p class="text-secondary text-bold" style="text-align: justify;">
                      مركز التكوين مجهز بقاعات و أحدث وسائل التعليم يعتمد على مناهج علمية مبتكرة في التأطير وأساتذة
                      بيداغوجيون مختصون في النقل البري السلامة والامن والميكانيك يهدف الى تكوين السائقين للاصناف ج1، ج2،
                      د هـ، لتحسين معارفهم التقنية وتسهيل تحكمهم بالمركبات و احترام التعليمات الامنية والجوانب التنظيمية
                      والانتقال بهم الى السياقة الاحترافية.</p>

                  </div>
                  <div class="col-md-12 mx-0 my-0">
                    <div class="row">
                      <div class="col-md-4 my-1">
                        <a href="/img/20181218_103721.jpg">
                          <img src="/img/20181218_103721.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/20181218_103032.jpg">
                          <img src="/img/20181218_103032.jpg" alt="Northern Lights" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/20181218_103620.jpg">
                          <img src="/img/20181218_103620.jpg" alt="Mountains" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/20181218_1021221.jpg">
                          <img src="/img/20181218_1021221.png" alt="Cinque Terre" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/DSC_1864.jpg">
                          <img src="/img/DSC_1864.jpg" alt="Cinque Terre" class="img-fluid">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade-tab" id="v-pills-service2" role="tabpanel"
                aria-labelledby="v-pills-service2-tab">

                <div class="row mx-0 my-0">
                  <div class="col-12 mx-0 my-0">
                    <p class="py-3 text-secondary text-bold text-right" style="text-align: justify;">
                      ورشة الميكانيك السريع تقدم جملة من الخدمات تشمل كل انواع المركبات الخفيفة والثقيلة وهي متميزة
                      بعتاد
                      متطور وجودة عالية للزيوت والمصافي وتحت رعاية فريق مؤهل ومتخصص وهذه الخدمات تشمل توازي وتوازن
                      العجلات، تغيير وتصليح العجلات، تغيير ممتص الصدمات وتغيير مفاصل السيارات .
                    </p>
                  </div>
                  <div class="col-12 mx-0 my-0">
                    <div class="row">
                      <div class="col-md-4 my-1">
                        <a href="/img/20210617_141404.jpg">
                          <img src="/img/20210617_141404.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/20200604_111024.jpg">
                          <img src="/img/20200604_111024.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                    </div>


                  </div>

                </div>

              </div>

              <div class="tab-pane fade-tab" id="v-pills-service5" role="tabpanel"
                aria-labelledby="v-pills-service5-tab">

                <div class="row mx-0 my-0">
                  <div class="col-12 mx-0 my-0">
                    <p class="py-3 text-secondary text-bold text-right" style="text-align: justify;">
                      تم انشاء وكالة المراقبة التقنية للسيارات بتاريخ <br> بموجب الاعتماد رقم <br> باستغلال خطين :خط للمركبات ذات الوزن الثقيل و خط للمركبات ذات الوزن الخفيف
<br> -مدة الانجاز 60 يوم <br> -مساحة تقدر ب 430 م2         <br> تشغل 3 مراقبين          </p>
                  </div>
                  <div class="col-12 mx-0 my-0">
                    <div class="row">
                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159642.jpg">
                          <img src="/img/1641109159642.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159885.jpg">
                          <img src="/img/1641109159885.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159787.jpg">
                          <img src="/img/1641109159787.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159758.jpg">
                          <img src="/img/1641109159758.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159702.jpg">
                          <img src="/img/1641109159702.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/1641109159814.jpg">
                          <img src="/img/1641109159814.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                    </div>


                  </div>

                </div>

              </div>

              <div class="tab-pane fade-tab" id="v-pills-service3" role="tabpanel"
                aria-labelledby="v-pills-service3-tab">


                <div class="row mx-0 my-0">
                  <div class="col-md-12 mx-0 my-0">
                    <h3 class="h3 text-right" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">


                    </h3>
                    <p class="py-3 text-secondary text-bold text-right">
                      اضافة الى مركز التكوين وضعت المؤسسة محطة خدمات (غسل وتشحيم المركبات) مجهزة وتحت رعاية خاصة لتتمحور
                      هذه الخدمات بغسل داخلي، خارجي غسل كلي ، غسل المحرك وتغير الزيت والمصافي حسب النوعية وبأسعار معقولة
                      ومجانية مراقبة العجلات كما وضعت المؤسسة بين ايديكم بطاقة اشتراك لتقدم خدمة مجانية بعد غسل كلي (09
                      مرات).
                    </p>

                  </div>
                  <div class="col-12 mx-0 my-0">
                    <div class="row">
                      <div class="col-md-4 my-1">
                        <a href="/img/DSC_3085.jpg">
                          <img src="/img/DSC_3085.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/DSC_3080.jpg">
                          <img src="/img/DSC_3080.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/carwash - Copie.jpg">
                          <img src="/img/carwash - Copie.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/20210309_195140.jpg">
                          <img src="/img/20210309_195140.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>



              <div class="tab-pane fade-tab" id="v-pills-service4" role="tabpanel"
                aria-labelledby="v-pills-service4-tab">
                <div class="row mx-0 my-0">
                  <div class="col-md-12 mx-0 my-0">
                    <h3 class="h3 text-right" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">


                    </h3>
                    {{!-- <p class="py-3 text-secondary text-bold text-right">
                      هfjhdwfbdlfbndklb
                    </p> --}}

                  </div>
                  <div class="col-12 mx-0 my-0">
                    <div class="row">
                      <div class="col-md-4 my-1">
                        <a href="/img/DSC_0064.jpg">
                          <img src="/img/DSC_0064.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>
                      <div class="col-md-4 my-1">
                        <a href="/img/20200527_230104.jpg">
                          <img src="/img/20200527_230104.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      <div class="col-md-4 my-1">
                        <a href="/img/DSC_0055.jpg">
                          <img src="/img/DSC_0055.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div>

                      {{!-- <div class="col-md-4 my-1">
                        <a href="/img/DSC_3219.jpg">
                          <img src="/img/DSC_3219.jpg" alt="Forest" class="img-fluid">
                        </a>
                      </div> --}}
                    </div>
                  </div>
                  
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>


    </div>

  </div>







  {{> arFooter}}

  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/bs-animation.js"></script>
  <script src="/js/script.js"></script>
  <script>
    window.onload = function () {

      var output = "{{item}}"

      clickTabs(output)
    }
  </script>
</body>

</html>