<!DOCTYPE html>
<html dir="rtl" lang="ar">

{{> arHead}}

<body>
    {{> arNavbar}}

    <div data-bs-parallax-bg="true" class="parallax d-flex">
        <div class="mx-auto my-auto text-center">
            <i class="fa fa-play-circle mb-2" style="font-size:3rem;color: white;"></i>
            <h3 style="font-weight: bold; color: white;">فيديوهات</h3>
        </div>
    </div>
    <div class="w-100" style="margin-top: 0;">
        <div class="container py-5">
            <div class="row">
                {{!-- <div class="col-md-6 mx-0 my-0">
                    <h3 class="h3 text-center" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">
                        كيف أستخدم تطبيق حافلتي
                    </h3>
                    <p class="py-3 text-secondary text-bold text-center">
                        هنالك العديد من الأنواع المتوفرة لنصوص
                        لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى
                        النص. إن كنت تريد أن تستخدم
                        نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة
                        في هذا النص. بينما
                        تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه
                        عدة مرات بما
                        تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف
                        إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي
                    </p>

                </div> --}}
                <div class="col mx-0 my-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        "<iframe width="1043" height="573" src="https://www.youtube.com/embed/IQbsVwWYSfM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <div data-bs-parallax-bg="true" class="parallax d-flex video-background">
        <div class="mx-auto my-auto text-center">
            <h3 class="text-right" style="font-weight: bold; color: white;">نحن دوما في خدمتكم</h3>




            <i class="icon ion-social-youtube mb-2" id="btn-icon" data-toggle="modal" data-target="#VideoModal"
                style="font-size:4rem;color: white;"></i>



            <div class="modal fade my-auto" id="VideoModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mx-0 my-5 px-0 py-0" role="document">
                    <div class="modal-content my-auto" style="  width: 70vw; margin-right: 15vw;">


                        <div class="modal-body mx-0 my-0 px-0 py-0">


                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IQbsVwWYSfM"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>


                            </div>


                        </div>

                    </div>
                </div>
            </div>


















        </div>
    </div>

    <div class="w-100" style="margin-top: 0;">
        <div class="container py-5">
            <h3 class="h3 text-right" style="padding-top:10px;padding-bottom:10px; font-weight: bold;">

                اكتشفوا خطوطنا
            </h3>
            <div class="row">

                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GUsrmA6yWHs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>

                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Je_GEI50GVc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>
                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oJyET-J3kfY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>
            </div>

                        <div class="row">

                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y_Atf1lq-a8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>

                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GKORqfS8t-I"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>
                <div class="col-md-4 mx-0 my-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FGZ98Kxpf50"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>
            </div>
        </div>

    </div>






    {{> arFooter }}
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-animation.js"></script>
    <script src="/js/script.js"></script>
    <script>
        $(function () {
            var inputs = $('.input');
            var paras = $('.description-flex-container').find('p');
            inputs.click(function () {
                var t = $(this),
                    ind = t.index(),
                    matchedPara = paras.eq(ind);

                t.add(matchedPara).addClass('active');
                inputs.not(t).add(paras.not(matchedPara)).removeClass('active');
            });
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        function show_tab(params) {
            document.getElementById("v-pills-31-tab").click()
        }
    </script>
</body>

</html>